body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background-image: url("/resources/ui.png"), url("/resources/ui.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}
.about-container {
  position: absolute;
  top: 50%;
  left: 50%;

  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.about {
  background-color: rgba(0, 255, 42, 0.452);
  padding: 20px;

  text-align: center;
  font-family: "Luxurious Roman", cursive;
}
p {
  text-align: justify;
  font-size: 1.3em;
}
img {
  width: 40%;
}

a {
  text-decoration: none;
  font-size: 1.4em;
  color: black;
  font-family: "Luxurious Roman", cursive;
}
